* {
    box-sizing: border-box;
}

/* ハンバーガーメニューのボタン */
.sp-menu__box {
    position: fixed;  /* 位置を固定 */
    top:   0;  /* 最上部 */
    right: 0;  /* 右端 */
    /* 中の要素を上下中央寄せ */
    display: flex;
    justify-content: center;
    align-items: center;
    /* サイズ指定 */
    height: 140px;
    width:  140px;
    /* 最前面にする */
    z-index: 100;
    background-color: #3584bb;
}

/* メニューの白線を疑似要素を使って3本作成 */
.sp-menu__box span,         /* 真ん中の線 */
.sp-menu__box span:before,  /* 上の線 */
.sp-menu__box span:after {  /* 下の線 */
  /* contentの値を指定しないと疑似要素が生成されない */
  content: "";
  /* ３本線のサイズと色を指定 */
  display: block;
  height: 6px;
  width: 50px;
  border-radius: 6px;
  background-color: #000000;
  /* 3本線の位置は絶対位置で指定 */
  position: absolute;
  /* 最前面にする */
  z-index: 100;
}

/* 上の線の位置 */
.sp-menu__box span:before {
  /* 真ん中の線と離す距離 */
  bottom: 16px;
}

/* 下の線の位置 */
.sp-menu__box span:after {
  /* 真ん中の線と離す距離 */
  top: 16px;
}

/* ON（スマホ用メニューを開いた状態） */
/* 真ん中の線 */
.sp-menu__box.opened span {
    /* 透明にして見えなくする */
    background: rgba(255, 255, 255, 0);
  }

/* 上の線 */
.sp-menu__box.opened span::before {
    /* 真ん中の線との距離を無くす（真ん中の線と同じ位置にする） */
    bottom: 0;
    /* 右に45度傾けてバツの片側の線にする */
    transform: rotate(45deg);
}
/* 下の線 */
.sp-menu__box.opened span::after {
    /* 真ん中の線との距離を無くす（真ん中の線と同じ位置にする） */
    top: 0;
    /* 左に45度傾けてバツの片側の線にする */
    transform: rotate(-45deg);
}

/* スマホ用メニュー */
.sp-menu__content {
    /* 絶対位置で指定   */
    position: fixed;
    /* 画面全体に表示 */
    width: 100%;
    height: 100%;
    /* 開始位置は左上隅 */
    top: 0;
    left: 100%;
    /* 前面に表示するがハンバーガーボタンよりは背後 */
    z-index: 90;
    background-color: #3584bb;
}
/* スマホ用メニューのリスト */
.sp-menu__list {
    padding: 70px 10px 0;
}
/* スマホ用メニュー項目 */
.sp-menu__item {
    border-bottom: solid 1px #000000;
    list-style: none;
}
/* スマホ用メニュー項目のリンク */
.sp-menu__link {
    display: block;
    width: 100%;
    font-size: 50px;
    box-sizing: border-box;
    color: #000000;
    text-decoration: none;
    padding: 9px 15px 10px 0;
}
