* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.center-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ハンバーガーメニューのボタン */
.sp-menu__box {
    position: fixed;  /* 位置を固定 */
    top:   0;  /* 最上部 */
    right: 0;  /* 右端 */
    /* 中の要素を上下中央寄せ */
    display: flex;
    justify-content: center;
    align-items: center;
    /* サイズ指定 */
    height: 56px;
    width:  56px;
    /* 最前面にする */
    z-index: 100;
    background-color: #ffffff;
}

/* メニューの白線を疑似要素を使って3本作成 */
.sp-menu__box span,         /* 真ん中の線 */
.sp-menu__box span:before,  /* 上の線 */
.sp-menu__box span:after {  /* 下の線 */
  /* contentの値を指定しないと疑似要素が生成されない */
  content: "";
  /* ３本線のサイズと色を指定 */
  display: block;
  height: 3px;
  width: 30px;
  border-radius: 3px;
  background-color: #000000;
  /* 3本線の位置は絶対位置で指定 */
  position: absolute;
  /* 最前面にする */
  z-index: 100;
}

/* 上の線の位置 */
.sp-menu__box span:before {
  /* 真ん中の線と離す距離 */
  bottom: 8px;
}

/* 下の線の位置 */
.sp-menu__box span:after {
  /* 真ん中の線と離す距離 */
  top: 8px;
}

/* ON（スマホ用メニューを開いた状態） */
/* 真ん中の線 */
.sp-menu__box.opened span {
    /* 透明にして見えなくする */
    background: rgba(255, 255, 255, 0);
  }

/* 上の線 */
.sp-menu__box.opened span::before {
    /* 真ん中の線との距離を無くす（真ん中の線と同じ位置にする） */
    bottom: 0;
    /* 右に45度傾けてバツの片側の線にする */
    transform: rotate(45deg);
}
/* 下の線 */
.sp-menu__box.opened span::after {
    /* 真ん中の線との距離を無くす（真ん中の線と同じ位置にする） */
    top: 0;
    /* 左に45度傾けてバツの片側の線にする */
    transform: rotate(-45deg);
}

/* スマホ用メニュー */
.sp-menu__content {
    /* 絶対位置で指定   */
    position: fixed;
    /* 画面全体に表示 */
    width: 100%;
    height: calc(100% - 56px);
    top: 56px;
    left: 100%;
    /* 前面に表示するがハンバーガーボタンよりは背後 */
    z-index: 90;
    background-color: #ffffff;
}
.sp-menu__content.opened {
    left: 0;
}
/* スマホ用メニューのリスト */
.sp-menu__list {
    margin: 0;
    padding: 10px;
}
/* スマホ用メニュー項目 */
.sp-menu__item {
    border-bottom: solid 1px #000000;
    list-style: none;
}
/* スマホ用メニュー項目のリンク */
.sp-menu__link {
    display: block;
    width: 100%;
    font-size: 24px;
    box-sizing: border-box;
    color: #000000;
    text-decoration: none;
    padding-top: 10px;
}

.config-lines {
    position: fixed;
    width: 100%;
    height: calc(100% - 56px);
    top: 56px;
    left: 100%;
    /*left: 0;*/
    z-index: 90;
    background-color: #ffffff;
    font-size: 24px;
}

.config-lines.opened {
    left: 0;
}

.config-lines .line-name {
    padding-left: 10px;    
}

.config-lines label {
    display: block;
    width: 100%;
}

.line-list > div {
    scroll-snap-align: start;
}

.config-passes {
    position: fixed;
    width: 100%;
    height: calc(100% - 56px);
    top: 56px;
    left: 100%;
    /*left: 0;*/
    z-index: 90;
    background-color: #ffffff;
    font-size: 24px;
}

.config-passes.opened {
    left: 0;
}

.config-passes .pass-name {
    padding-left: 10px;
    color: #bbbbbb;
}

.config-passes .pass-name.enabled {
    color: #000000;
}

.config-passes label {
    display: block;
    width: 100%;
}

.main-back {
    perspective: 1000px;
    overflow-y: hidden;
}

.dice-base {
    transform-style: preserve-3d;
    transform-origin: 50% 100px -100px;
    backface-visibility: hidden;
    width: 100%;
    height: 200px;
}

.dice-face {
    backface-visibility: hidden;
    position: absolute;
    background-color: white;
    color:            black;
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    width:  100%;
    height: 100%;
    padding: 10px 0;
}

.face-0 {
    transform: translate3d(0,      0,      0) rotateX(     0);
}

.face-1 {
    transform: translate3d(0,  100px, -100px) rotateX(-90deg);
}

.face-2 {
    transform: translate3d(0,      0, -200px) rotateX(180deg);
}

.face-3 {
    transform: translate3d(0, -100px, -100px) rotateX( 90deg);
}

span.ekimeiKanj {
    padding: 0 10px;
    font-size: 28px;
    white-space: nowrap;
}

span.ekimeiKana {
    padding: 0 10px;
    font-size: 14px;
}

span.ekimeiRoma {
    padding: 0 10px;
    font-size: 14px;
}

div:has(> .compName) {
    position: relative;
    height: 28px;
}

.compName {
    display: inline-block;
    position: absolute;
    margin-left: 10px;
    /*padding-top: 0.5px;*/
    height: 100%;
    font-size: 18px;
    line-height: 28px;
    color: #ffffff;
    background-color: transparent;
    /*text-shadow: #000000 -2px 0 2px, #000000 2px 0 2px, #000000 0 -2px 2px, #000000 0 2px 2px;*/
}

div:has(> .lineName) {
    position: relative;
    height: 28px;
}

.lineBack1 {
    position: absolute;
    top: 0;
    width:  100%;
    height: 50%;
    z-index: -1;
    /*background: linear-gradient(90deg, #0074be, #ffffff);*/
}

.lineBack2 {
    position: absolute;
    top: 50%;
    width:  100%;
    height: 50%;
    z-index: -1;
    /*background: linear-gradient(90deg, #f15a22, #ffffff);*/
}

.lineName {
    display: inline-block;
    position: absolute;
    margin-left: 10px;
    /*padding-top: 0.5px;*/
    height: 100%;
    font-size: 18px;
    line-height: 28px;
    color: #ffffff;
    /*text-shadow: #000000 -2px 0 2px, #000000 2px 0 2px, #000000 0 -2px 2px, #000000 0 2px 2px;*/
}

span.sttnAddr {
    padding: 0 10px;
    font-size: 12px;
}

div.passName {
    padding: 0 10px;
    display: flex;
    gap: 10px;
    font-size: 12px;
}

.shadow {
    color: #000000;
}

.shadow.topl {
    transform: translate(-1px, -1px);
}

.shadow.topr {
    transform: translate( 1px, -1px);
}

.shadow.botl {
    transform: translate(-1px,  1px);
}

.shadow.botr {
    transform: translate( 1px,  1px);
}
